RewriteEngine On

# Si le fichier existe physiquement (ex: le CSS, le JS, les images), on le laisse passer
RewriteCond %{REQUEST_FILENAME} !-f
# Si c'est un vrai dossier, on le laisse passer
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon (ex: /offres, /profil), on envoie vers le routeur index.php
RewriteRule ^(.*)$ index.php [QSA,L]